@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: script;
    src: url(../fonts/Beyond\ Infinity\ -\ Demo.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --mainColor: #10234d00;
    --mainColorLight: rgb(80, 80, 168);
    --secondaryColor: red;
    --textColor: rgb(163, 163, 163);
}

header {
    height:80px;
    width: 100%;
    background-color: var(--mainColor);
    color: var(--textColor);
}

header div nav {
    border-bottom: 20px;
}

a.nav {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 2rem;
    padding: 10px;
    transition: 1s;
    position: relative;
    z-index: 10;
    font-size: 5px;
    font-weight: bold;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 0.35s;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;
    padding-top: 0px;
}

html body div#root header div nav a {
    font-family: 'Anton', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 25px;
    font-family: script;
}

ul {
    display: flex;
    margin-bottom: 8px;
}

li {
    list-style: none;
    
}

a.nav:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    position: relative;
    z-index: 10;
}

header .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
    z-index: 6;
}


html body div#root header div nav ul li {
    list-style: none;
    font-family: script;
    margin-top: 8px;
}

html body div#root header div nav ul {
    display: flex;
    align-items: center;
}

html body div#root header nav {
    display: flex;
    justify-content: center;
    background-color: #304039;
    z-index: 5;
}

html body div#root header nav img {
    height: 40px;
    width: 70PX;
    transition: 1s;
    position: relative;
    z-index: 2;
}

html body div#root header nav img:hover {
    rotate: 360deg;
    transition: 1s;

}

html body div#root header div nav.responsive_nav {

    background: rgb(84, 104, 87);
    position: fixed;
    z-index: 11;
    /* background-color: rgb(21, 59, 21); */
    /* background-color: rgb(21, 49, 21); */
    /* background-color: rgb(27, 39, 27); */
    /* background-color: #232d23; */
    transition: 1s;
    box-shadow: 2px 2px 38px rgb(63 91 63 / 42%);


}

html body div#root header nav button.nav-btn.nav-close-btn {
    position: absolute;

}

.Navbar button.nav-btn svg {
    color: white;
}

html body div#root header nav button.nav-btn.nav-close-btn svg {
    color: white;
}


@media only screen and (max-width: 1155px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        transition: 1s;
        transform: translateY(-100vh);
        background-blend-mode: color;
    }

    header nav.responsive_nav {

        transform: none;
        z-index: 999;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .Eric-Bonnet-Phillipe-Edouart-Biron {
        background-image: url("https://logos-marques.com/wp-content/uploads/2020/09/Logo-Instagram-1.png");
        display: flex;
        z-index: 9999;
        width: 30px;
        height: 30px;
    }
}